{% extends 'basic.html' %}
{% block title %} FabricBecho - Return Policy{% endblock %}

{% block stylesheet %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <style>
            h4{
                font-weight: bold;
            }
        </style>
{% endblock %}


{% block content %}

<div class="container py-4 my-5">
    <h1 style="text-align: center;">REFUND/RETURN POLICY</h1>
    <p>At fabricbecho , we want our customers to be completely satisfied with our services. If for any reason you are not satisfied, we offer a refund and return policy subject to the terms and conditions outlined below.</p>
    <h4>
        Refund Policy
    </h4>
    <p>We offer refunds to our customers for unused portions of their subscription fees if they are not satisfied with our services. The refund request must be made within [Insert number] days of the subscription start date. Refunds are processed within [Insert number] business days of the refund request and may take [Insert number] business days to appear on your account. We reserve the right to deny refunds for any reason.

    </p>
    <h4>Return Policy</h4>
    <p>We do not offer returns for our services as they are delivered digitally and cannot be returned. If you experience any technical issues with our services, please contact our customer support team for assistance.</p>

    <h4>Cancellation Policy</h4>
    <p>You may cancel your subscription at any time by contacting our customer support team. Upon cancellation, you will no longer have access to our services and will not be charged any further subscription fees.   </p>

    <h4>Contact Us</h4>
    <p>If you have any questions or concerns about our refund and return policy, please contact us at support@mathsloyal.com.</p>
   
</div>

{% endblock %}