{% extends 'basic.html' %}

{% block title %} 
    FabricBecho - Search
{% endblock %}

{% block stylesheet %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
{% load static %}
<link rel="stylesheet" href="/static/css/content.css">

    <style>
        body
        {
            margin: 0;
        }
        #containerSlider {
            margin: auto;
            width: 90%;
            text-align: center;
            padding-top: 20px;
            box-sizing: border-box;
        }
    
        #containerSlider img {
            width: 100%;
            height: 20em;
            text-align: center;
            align-content: center;
        }
        @media(max-width: 732px)
        {
            #containerSlider img
            {
                height: 12em;
            }
        }
        @media(max-width: 500px)
        {
            #containerSlider img
            {
                height: 10em;
            }
        }
        .view-btn, .buy-btn{
            text-align: center;
            align-items: center;
            width: 49%;
        }
        .f-banner{
            width: 100%;
            height: 20em;
            text-align: center;
            align-content: center;
        }
        .three-b{
            width: 100%;
            text-align: center;
            align-content: center;
            margin: 0  auto;
        }
    </style>
{% endblock %}


{% block content %}



<!-- SLIDER -->
<div id="2">
    <section>
        <div id="containerSlider">
            {% for i in ads|slice:"0:"%}
            <div id="slidingImage"> <img src="/media/{{i.image}}" alt="image1"> </div>
            {% endfor %}
        </div>
    </section>
</div>

<!-- CONTENT SECTION -->
<div id="3">
    <section>
        <div class="container py-2">
            <div class="row">
                <div class="col-6 ">
                    <img src="/static/img/sell.jpeg" alt="" class="img-responsive center-block d-block s">
                    <a aria-label="Chat on WhatsApp" href="https://wa.me/916370796484?text=I want to advertise"
                        class="btn btn-outline-secondary m-button" target="_blank">Sell Product</a>
                </div>
                <div class="col-6">
                    <img src="/static/img/advertise.jpg" alt="" class="img-responsive center-block d-block s">

                    <a aria-label="Chat on WhatsApp" href="https://wa.me/916370796484?text=I want to advertise"
                        class="btn btn-outline-secondary m-button" target="_blank">Advertise Here </a>
                </div>
            </div>
        </div>
    </section>

    <section>
        {% for product, range, nSlides in allProds %}
        <h1 style="text-decoration: underline;">Product</h1>
        <div class="container">
            <div class="row">
                {% for i in product|slice:"0:"%}
                <div class="col-md-3 m-card">
                    <div class="card">
                        <img src="/media/{{i.image}}" class="card-img-top" alt="...">
                        <div class="card-body  bg-light">
                            <h5 class="card-title">
                                <b>{{i.product_name}}</b>
                                {% if i.featured_product == 'Yes' %}
                                    <span class="fas fa-check-circle s-icon col-6 assured"></span>
                                {% endif %}
                            </h5>
                            <h5 class="card-title price">₹{{i.price}}</h5>
                            <p class="card-text description">{{i.desc}}</p>
                            <a target="_blank"
                                href="https://wa.me/91{{i.seller_phone}}?text=I'm%20interested%20in%20purchasing%20{{i.product_name}}%20listed%20on%20FabricBecho"
                                class=" btn btn-outline-secondary buy-btn">Buy</a>
                            <a href="/products/{{i.id}}">
                                <button id="qv{{i.id}}" class="btn btn-outline-secondary view-btn">View</button>
                            </a>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
                </div><div class="row py-5">
                {% endif %}

                {% endfor %}
                </div>
                {% endfor %}
            </div>
    
        </div>
        <div class="container row my-3 three-b">
            <h1 style="text-decoration: underline;">Featured Sellers</h1>
            {% for i in fs|slice:"0:"%}
            <div class="col-4"> <img src="/media/{{i.image}}" alt="" class="f-banner"></div>
            {% endfor %}
        </div>
    </section>

</div>
<section>
    <div id="sticky-icon">
        <a href="{% url 'Requirement' %}"><img src="/static/img/support.png" alt="Support Icon"></a>
      </div>
      
</section>

{% endblock %}