{% extends 'basic.html' %}

<!-- {% block title %} 
    HEADER | E-COMMERCE WEBSITE 
{% endblock %} -->

    

</head>
<body>
    
</body>
    <!-- <script src=“https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js”></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <script>
        $(document).ready(function()
        {
        $('#containerSlider').slick({
            dots: true,
            infinite: true,
            slidesToShow: 1,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 1200,
            });
        });
    </script>
</html>