{% extends 'basic.html' %}
{% block title %} FabricBecho - Terms & Conditions{% endblock %}

{% block stylesheet %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <style>
            h4{
                font-weight: bold;
            }
        </style>
{% endblock %}


{% block content %}
<div class="container py-4">
    <h1 style="text-align: center;">Terms and condition</h1>
    <p>These terms and conditions govern your use of fabricbecho (the “fabricbecho.com”). By using the Website, you agree to these terms and conditions.</p>
   <ol>
    <li>User Conduct</li>
    <p>You agree to use the Website only for lawful purposes and in a manner that does not infringe the rights of, or restrict or inhibit the use and enjoyment of the Website by any third party. You agree not to engage in conduct that is harmful, threatening, abusive, harassing, defamatory, or otherwise objectionable.</p>

    <li>Intellectual Property</li>
    <p>The content on the Website, including text, images, graphics, and logos, is the property of fabricbecho and is protected by copyright and other intellectual property laws. You may not use, reproduce, distribute, or display any of the content on the Website without our prior written permission.</p>

    <li>Disclaimer of Warranties</li>
    <p>The Website is provided on an “as is” and “as available” basis. We make no warranties, express or implied, regarding the operation of the Website or the information, content, materials, or products included on the Website. We do not warrant that the Website will be uninterrupted or error-free or that the Website or the server that makes it available are free of viruses or other harmful components.</p>

    <li>Limitation of Liability</li>
    <p>Limitation of Liability
        In no event shall fabricbecho be liable for any direct, indirect, incidental, special, or consequential damages arising out of or in connection with the use or inability to use the Website or the content or materials on the Website</p>

    <li>Indemnification</li>
    <p>You agree to indemnify and hold fabricbecho, its affiliates, officers, agents, and employees, harmless from any claim or demand, including reasonable attorneys’ fees, made by any third party due to or arising out of your use of the Website, your violation of these terms and conditions, or your violation of any rights of another.</p>

    <li>Governing Law</li>
    <p>These terms and conditions shall be governed by and construed in accordance with the laws of India . Any disputes arising under or in connection with these terms and conditions shall be subject to the exclusive jurisdiction of the courts of India </p>

    <li>Changes to These Terms and Conditions</li>
    <p>We reserve the right to change these terms and conditions at any time by posting the revised terms on the Website. Your continued use of the Website constitutes your agreement to the revised terms and conditions.</p>

    <li>Contact Us</li>
    <p>If you have any questions or concerns about these terms and conditions, please contact us at [contact email].

    </p>
   </ol>

</div>
{% endblock %}